@font-face {
    font-family: 'A2RecordGothic';
    src: url('/assets/type/A2_Record_Gothic_Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DSertBlack';
    src: url('/assets/type/DSert_Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
}

html {
    font-size: 16px;
        cursor: url('/assets/graphics/smiley_point.svg'), auto;
}
    
html a:hover,
button:hover {
        cursor: url('/assets/graphics/smiley_hover.svg'), auto;
}

body {
    overflow: hidden; 
    background: lavenderblush;
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

.page {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
    min-height: 100dvh; 
    min-height: 100vh;
}

.content {
    padding: 8rem 1rem;
}

p {
    font-family: 'A2RecordGothic', Helvetica, Arial, sans-serif;
    font-size: 1.3rem;
    line-height: 1.4;
    color: #111;
    margin: 1rem 0 0;
}

h1 {
    font-family: 'DsertBlack', Helvetica, Arial, sans-serif;
    font-size: 6rem;
    line-height: 1;
    color: #111;
    margin: 0 0 1rem;
}

button {
    margin: 2.5rem 0 0;
    padding: .75rem 1.5rem;
    border: none;
    border-radius: .25rem .25rem .25rem .25rem;   
    font-family: 'A2RecordGothic', Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    color: lavenderblush;
    background: #EC47DB; 
}

button:hover {
    background: #111;
}

/*Mobile*/
@media only screen and (max-width: 768px) {
    p {
      font-size: calc(1.3rem * 0.9);
    }

    h1 {
      font-size: calc(6rem * 0.7);
    }

    button {
        font-size: calc(1.2rem * 0.9);
    }
}