main {
    display: flex;
    flex-direction: column; /* Lets image and text left align*/
    justify-content: center;
    align-items: center;
}

.page-inner {
    max-width: 42rem;
    margin: 0 auto;
    padding-top: 4rem;
    padding-right: clamp(1rem,3vw,1.5rem);
    padding-bottom: 4rem;
    padding-left: clamp(1rem,3vw,1.5rem);
}

.visual {
    max-width: 300px;
    height: auto;
}

img {
    max-width: 100%;
    height: auto;
    border: 4px solid var(--primary-color);
}

/* Credit */
p.small {
    font-size: 1.15rem;
    margin: 0;
}