@font-face {
    font-family: 'A2RecordGothic';
    src: url('/assets/type/A2_Record_Gothic_Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'A2RecordGothicMedium';
    src: url('/assets/type/A2_Record_Gothic_Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DSertBlack';
    src: url('/assets/type/DSert_Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
}

html {
    font-size: 16px;
    cursor: url('/assets/graphics/smiley_point.svg'), auto;
}

html a:hover {
    cursor: url('/assets/graphics/smiley_hover.svg'), auto !important;
}

body {
    background-color: lavenderblush;
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

header {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed; 
    left: 0; 
    top: 0;
    z-index: 1; 
    width: 100%; 
    height: 4rem; 
    padding-right: clamp(1rem,3vw,1.5rem);
    padding-left: clamp(1rem,3vw,1.5rem);
    border-bottom: 2px solid #111;
    background-color: lavenderblush;
}

nav.title {
    display: flex;
    flex: .5; 
    position: relative; 
}

nav.links {
    display: flex;
    flex: .5;
    justify-content: flex-end;
    position: relative;  
}

nav.links a {
    font-family: 'A2RecordGothicMedium', Helvetica, Arial, sans-serif;
    font-size: clamp(1.063rem,3vw,1.125rem);
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
    text-align: right;
    color: #111;
    text-decoration: none;
}

nav.links a:last-child {
padding-left: 1rem;
}

nav.title a {
    font-family: 'DSertBlack', Helvetica, Arial, sans-serif;
    font-size: 2rem;
    color: #111;
    text-decoration: none;
}

nav:not(.title) a.active {
    color: #EC47DB;
}

main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    height: 100dvh;
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%;
}

.page-inner {
    display: flex;
    justify-content: start;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
}

.section {
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 45%;
    min-height: 100vh; /*allows full height*/
    min-height: 100dvh;
    margin: auto 0; /*keeps content within viewport*/
    padding: 8rem 2.5rem; 
    border-right: 2px solid #EC47DB;
}

.section:last-of-type {
    border: none;
}

.section-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /*for mobile*/
}

.text {
    width: 100%; /*for mobile*/
    max-width: 35rem;
    height: 130px;
    margin: 0 auto;
} 

p {
    font-family: 'A2RecordGothic', Helvetica, Arial, sans-serif;
    font-size: 1.3rem;
    line-height: 1.5;
    color: #111;
    margin: 1rem 0 0;
}

h1 {
    font-family: 'DsertBlack', Helvetica, Arial, sans-serif;
    font-size: 3rem;
    line-height: 1;
    color: #111;
}

/*Mobile*/

@media screen and (max-width: 768px) {
    .page-inner {
        display: block;
    }

    .section {
        width: 100%;
        min-height: unset;
        padding: 4rem 1rem;
        border-right: none;
        border-bottom: 2px solid #EC47DB;
    }

    .section:first-child {
        padding-top: 8rem;
    }

    .section:last-child {
        padding-bottom: 4rem;
    }

    .section-inner {
        padding: 0;
    }

    .text {
        height: unset;
    }
    
    p {
        font-size: calc(1.3rem * 0.9);
    
    }
    
    h1 {
        font-size: calc(3rem * 0.9);
        margin: 0;
    }
}