main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top: 8rem;
    padding-right: clamp(1rem,3vw,1.5rem);
    padding-bottom: 4rem;
    padding-left: clamp(1rem,3vw,1.5rem);
}

form {
    width: 100%;
    max-width: 32rem;
    margin: 0 auto;
}

.form-title {
    display: flex;
    justify-content: center;
    margin: 0 0 1rem;
}

label {
    font-family: var(--body-font);
    font-size: 1.125rem;
    color: var(--primary-color);
}

input, textarea {
    width: 100%;
    margin: .5rem 0 2rem;
    padding: 1rem .5rem 1rem .5rem;
    border: none;
    border-radius: .15rem .15rem .15rem .15rem;
    font-family: var(--body-font);
    font-size: 1rem;
    background-color: white;
}

textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 600px;
}

button {
    padding: .5rem 1.5rem;
    border: none;
    border-radius: .15rem .15rem .15rem .15rem;   
    font-family: var(--body-font);
    font-size: 1.1rem;
    color: var(--background-color);
    background: var(--secondary-color); 
}

button:hover {
    background: var(--primary-color);
}

::placeholder {
    color: var(--primary-color);
    text-decoration: line-through;
    opacity: .4;
}

/*Thanks message*/

form p {
    font-family: var(--body-font);
    text-align: center;
    color: var(--primary-color);
}

/*Mobile*/

@media (max-width: 768px) {
    form p {
        font-size: calc(1.25rem * 0.9);
    }
}