@font-face {
    font-family: 'A2 Record Gothic';
    src: url(/assets/type/A2_Record_Gothic_Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'A2 Record Gothic';
    src: url(/assets/type/A2_Record_Gothic_Medium.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DSert';
    src: url(/assets/type/DSert_Black.woff2) format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

:root {
    --small-gap: .75rem;
    --gap: 1.25rem;
    --big-gap: 2.5rem;
    --outer-padding: clamp(1rem,3vw,1.5rem);
    --body-font: 'A2 Record Gothic',system-ui,sans-serif;
    --body-font-size: clamp(1.22rem,3vw,1.35rem);
    --heading-font: 'DSert',system-ui,sans-serif;
    --primary-color: #111;
    --accent-color: #9E1090;
    --background-color: lavenderblush;
    --form-background-color: white;
}

:focus-visible {
    outline:  3px solid var(--accent-color);
    outline-offset: 2px;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
    scrollbar-width: thin;
}

main * + * {
    margin-block-start: var(--gap);
}

.margins-off > * {
    margin-block-start: 0;
}

.small-gap {
    margin-block-start: var(--small-gap);
}

html {
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;
    margin: unset;
    font-family: var(--body-font);
    font-size: var(--body-font-size);
    font-weight: 400;
    line-height: 1.5;
    color: var(--primary-color);
    background-color: var(--background-color);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 4rem;
    padding: 0 var(--outer-padding);
    border-bottom: 2px solid var(--primary-color);
    background-color: var(--background-color);
}

.site-title {
    display: flex;
    font-family: var(--heading-font);
    font-size: clamp(1.8rem,3vw,2rem);
    font-weight: 900;
}

nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}

nav a {
    font-weight: 500;
}

nav a.active {
    color: var(--accent-color);
}

.acme-all-purpose-wrapper {
    width: 100%;
    max-width: 40rem;
    padding: clamp(8rem,12vw,10rem) var(--outer-padding) clamp(4rem,12vw,6rem);
}

a {
    color: var(--primary-color);
    text-decoration: none;
    pointer-events: auto;
    cursor: pointer;
    transition: color .3s ease;
}

.fuchsia {
    color: var(--accent-color);
}

.linkstyling-off a {
    text-decoration: none;
}

h2 {
    font-family: var(--heading-font);
    font-size: clamp(1.7rem,2.1rem,2.1rem);
    font-weight: 900;
    line-height: 1.1;
}

h1 {
    font-family: var(--heading-font);
    font-size: clamp(2.4rem,2vw,3rem);
    font-weight: 900;
    line-height: 1;
}

.a-big-photo-of-Ted {
    max-width: 300px;
    height: auto;
}

img {
    max-width: 100%;
    height: auto;
    border: 4px solid var(--primary-color);
}

p.small {
    font-size: clamp(1.04rem,3vw,1.15rem);
}

button {
    margin-block-start: var(--big-gap);
    padding:.75rem 1.5rem;
    border: none;
    border-radius:.25rem;
    font-family:var(--body-font);
    font-size:var(--body-font-size);
    color:var(--background-color);
    background:var(--accent-color);
    cursor:pointer}
    
@media (hover:hover) and (pointer:fine) {
    a:hover {
        color: var(--accent-color);
    }
    button:hover {
        background:var(--primary-color)
    }
}
.vh {
    position:absolute;
    overflow:hidden;
    width:1px;
    height:1px;
    clip-path:inset(50%);
    white-space:nowrap;
}